name: Tests auf Push

on: push

jobs:
  tests:
    runs-on: ubuntu-latest

      # Das repository bereitstellen f端r Github actions
    steps:
    - name: Loading repository
      uses: actions/checkout@v2

      # Python 3.11 laden
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

   # Installiert erforderliche Module f端r die Tests
    - name: Installiere pytest
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install requests
        pip install pandas

      # Ausf端hren der tests.sh Datei.
    - name: F端hre Tests aus
      run: bash project/tests.sh
